<div
  class="w-full min-h-screen flex flex-column align-items-center gap-8 p-2 pt-4"
  style="background-color: rgba(240, 238, 227, 0.63);"
>
  <div
    class="relative px-5 py-4 overflow-hidden border-round-xl w-11 h-6rem bg-primary mt-8"
  >
    <div
      style="margin-bottom: -4rem;"
      class="absolute bottom-0 left-0 w-10rem h-10rem surface-300 -ml-7 opacity-30 border-circle"
    ></div>
    <div
      style="margin-right: -3rem;"
      class="absolute bottom-0 right-0 w-10rem h-10rem bg-orange-500 opacity-30 border-circle"
    ></div>
    <p-button
      styleClass="w-12 h-full"
      label="Contactar con soporte"
      severity="secondary"
    />
  </div>
  <img src="../../../assets/support-image.svg" alt="support" class="w-11 md:w-4">
</div>
