<div
  class="w-12 bg-white h-screen shadow-2 flex flex-column transition-ease-in-out transition-duration-500 align-items-center z-2 overflow-auto"
>
  <div class="w-full px-3 md:py-2">
    <!-- <div
      class="w-full h-5rem border-round-lg text-2xl font-semibold mt-3 flex align-items-center justify-content-center"
    >
      Venta Max
    </div> -->
    <div class="w-full flex align-items-center my-4">
      <img
        src="../../../assets/brand/logo-name.png"
        alt="venta-max-logo"
        class="w-13rem -ml-3"
      />
      <div
        style="height: 7px; width: 7px;"
        class="bg-primary border-circle mt-6 -ml-3"
      ></div>
    </div>
  </div>
  <div class="w-full flex flex-column gap-3 px-3">
    <div
      (click)="redirectTo('home')"
      [ngClass]="router.url.includes('home') ? 'bg-primary hover:bg-primary-400 text-white':'hover:surface-100 text-500'"
      class="w-full cursor-pointer border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-home font-medium"></i>
      <div class="font-medium">Inicio</div>
    </div>
    <div
      (click)="redirectTo('orders-list')"
      [ngClass]="router.url.includes('orders-list') ? 'bg-primary hover:bg-primary-400 text-white':'hover:surface-100 text-500'"
      class="w-full cursor-pointer border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-megaphone font-medium"></i>
      <div class="font-medium">Pedidos</div>
    </div>
    <div
      (click)="redirectTo('support')"
      [ngClass]="router.url.includes('support') ? 'bg-primary hover:bg-primary-400 text-white':'hover:surface-100 text-500'"
      class="w-full cursor-pointer border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-headphones font-medium"></i>
      <div class="font-medium">At. al cliente</div>
    </div>
    @if (!userService.user) {
    <div
      (click)="showLogin()"
      class="w-full cursor-pointer hover:surface-100 border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-sign-in text-500 font-medium"></i>
      <div class="text-500 font-medium">Iniciar sesión</div>
    </div>
    } @else {
    <div
      (click)="redirectTo('incomes-list')"
      [ngClass]="router.url.includes('incomes-list') ? 'bg-primary hover:bg-primary-400 text-white':'hover:surface-100 text-500'"
      class="w-full cursor-pointer border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-history font-medium"></i>
      <div class="font-medium">Historial </div>
    </div>
    <div
      (click)="redirectTo('retreats-list')"
      [ngClass]="router.url.includes('retreats-list') ? 'bg-primary hover:bg-primary-400 text-white':'hover:surface-100 text-500'"
      class="w-full cursor-pointer border-round-xl h-3rem flex align-items-center gap-3 pl-4"
    >
      <i class="pi pi-money-bill font-medium"></i>
      <div class="font-medium">Retiros </div>
    </div>
    }

    <div
      class="relative mt-2 w-full border-round-xl overflow-hidden text-ra bg-primary h-8rem flex flex-column gap-2 pl-4 pt-3"
    >
      <div class="w-full text-white font-medium">
        Mejora tu cuenta
        <br />
        y recibe mas <br />
        comisiones
      </div>
      <p-button
        severity="secondary"
        label="Mejorar"
        styleClass=" bg-white text-900 h-2rem text-sm border-white"
      />
      <div
        class="absolute bottom-0 right-0 w-7rem h-7rem -mb-5 -mr-5 bg-white opacity-30 border-circle"
      ></div>
      <div class="absolute top-0 right-0 mt-3 mr-3 flex flex-column gap-1">
        <div class="flex gap-1">
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
        </div>
        <div class="flex gap-1">
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
        </div>
        <div class="flex gap-1">
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
        </div>
        <div class="flex gap-1">
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
          <div class="bg-white dot-card border-circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
