<div
  style="background-color: rgba(240, 238, 227, 0.63);"
  class="w-full px-2 md:px-4 pt-3"
>
  <div
    class="text-xl md:text-2xl font-bold w-full flex justify-content-between"
  >
    @if (userService.user) {
    <span> {{'Hola, ' + userService.user.user.name}} </span>
    }@else {
    <span> Hola, Usuario </span>
    }
    <div class="flex gap-2 align-items-center">
      <i class="pi pi-shopping-cart text-xl md:text-2xl text-primary mr-3"></i>

      <p-button
        icon="pi pi-user"
        styleClass="h-2rem w-2rem text-2xl mr-1 border-round-lg border-1 border-primary"
        [outlined]="true"
        (onClick)="layoutService.toggleProfile()"
      />
    </div>
  </div>
</div>
