<div class="flex w-full fixed m-0 p-0">
  @if (!layoutService.isMobile()) {
  <div class="w-2 overflow-auto">
    <app-side-menu class="w-12 h-screen" />
  </div>
  } @if (!(layoutService.isMobile() &&
  layoutService.state.profileSidebarVisible)) {
  <div
    class="h-screen overflow-auto flex flex-column transition-ease-in-out transition-duration-500"
    [ngClass]="{
      'w-12': layoutService.isMobile() && !layoutService.state.profileSidebarVisible,
      'w-7': !layoutService.isMobile() && layoutService.state.profileSidebarVisible,
      'w-10': !layoutService.isMobile() && !layoutService.state.profileSidebarVisible,
    }"
  >
    <app-top-bar />
    <router-outlet />
    @if (layoutService.isMobile()) {
    <div class="w-full fixed bottom-0">
      <app-mobile-menu />
    </div>
    }
  </div>
  }

  <div
    class="'surface-200 transition-ease-in-out transition-duration-500'"
    [ngClass]="{
      'hidden': !layoutService.state.profileSidebarVisible && !layoutService.isMobile() || !layoutService.state.profileSidebarVisible && layoutService.isMobile(),
      'w-3': layoutService.state.profileSidebarVisible && !layoutService.isMobile(),
      'w-12': layoutService.state.profileSidebarVisible && layoutService.isMobile()
    }"
  >
    <app-profile-menu
      [ngClass]="{
      'hidden': !layoutService.state.profileSidebarVisible && !layoutService.isMobile() || !layoutService.state.profileSidebarVisible && layoutService.isMobile(),
      'w-3': layoutService.state.profileSidebarVisible && !layoutService.isMobile(),
      'w-12': layoutService.state.profileSidebarVisible && layoutService.isMobile()
    }"
    />
  </div>
</div>
