<div
  class="w-full flex flex-column py-4 px-6 gap-5"
  style="background-color: rgba(240, 238, 227, 0.63)"
>
  <div class="text-2xl font-bold">Hola, Usuario</div>
  <div
    class="relative overflow-hidden bg-primary h-10rem border-round-lg flex flex-column p-5"
  >
    <div class="text-white text-2xl font-semibold">
      Consigue tus descuentos <br />
      por comisión
    </div>
    <div class="text-white text-sm mt-4 font-semibold">
      Descubre las ofertas exclusivas para socios en línea hoy mismo
    </div>

    <div
      class="absolute bottom-0 -mb-8 left-0 -ml-4 w-10rem h-10rem flex align-items-center justify-content-center bg-white opacity-30 border-circle"
    >
      <div class="w-6rem h-6rem border-circle bg-primary"></div>
    </div>

    <div
      style="margin-top: -8rem; margin-right: 10rem"
      class="absolute top-0 right-0 w-12rem h-12rem flex align-items-center justify-content-center bg-white opacity-30 border-circle"
    >
      <div class="w-8rem h-8rem border-circle bg-primary"></div>
    </div>

    <div
      style="margin-bottom: -5rem; margin-right: -4rem"
      class="absolute bottom-0 right-0 w-11rem h-11rem flex align-items-center justify-content-center bg-white opacity-30 border-circle"
    >
      <div class="w-8rem h-8rem border-circle bg-primary"></div>
    </div>
    <img
      src="../../../assets/image-banner.png"
      alt="image-banner"
      class="absolute bottom-0 right-0 mr-8 w-15rem"
    />
  </div>
  <div class="text-lg font-semibold">
    Artículos con mayores incentivos de comisión
  </div>
  <div class="w-full flex gap-2 -mt-3">
    @for (product of productsA; track product; let i = $index) {
    <div
      class="border-round-sm pt-2 cursor-pointer hover:shadow-2 bg-white w-full flex flex-column align-items-center"
    >
      <div class="flex w-full justify-content-between">
        <div class="bg-red-400 border-round-right text-white px-2 py-1 text-xs">
          {{ product.commission + "% Comisión" }}
        </div>
        <i class="pi pi-heart-fill text-300 text-sm mr-2 mt-1"></i>
      </div>
      <img
        [src]="'../../../assets/products/' + product.photo"
        [alt]="product.name"
        [class]="i === 1 ? 'h-5rem my-2' : 'h-6rem'"
      />
      <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"
      iconOnClass= />
      <span class="text-xs my-1">{{ product.name }}</span>
      <span class="text-sm mb-2 gap-1 flex font-bold"
        ><span class="text-primary">$</span
        ><span>{{ product.price }}</span></span
      >
    </div>
    }
  </div>

  <div class="text-lg font-semibold">Artículos con mayor valoración</div>
  <div class="w-full flex gap-2 -mt-3">
    @for (product of productsB; track product; let i = $index) {
    <div
      class="border-round-sm pt-2 cursor-pointer hover:shadow-2 bg-white w-full flex flex-column align-items-center"
    >
      <div class="flex w-full justify-content-between">
        <div class="bg-red-400 border-round-right text-white px-2 py-1 text-xs">
          {{ product.commission + "% Comisión" }}
        </div>
        <i class="pi pi-heart-fill text-300 text-sm mr-2 mt-1"></i>
      </div>
      <img
        [src]="'../../../assets/products/' + product.photo"
        [alt]="product.name"
        [class]="i === 1 ? 'h-5rem my-2' : 'h-6rem'"
      />
      <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"
      iconOnClass= />
      <span class="text-xs my-1">{{ product.name }}</span>
      <span class="text-sm mb-2 gap-1 flex font-bold"
        ><span class="text-primary">$</span
        ><span>{{ product.price }}</span></span
      >
    </div>
    }
  </div>
  <div class="text-lg font-semibold">Pagos recientes a usuarios</div>
</div>
