<div
  class="bg-white h-screen fixed shadow-2 align-self-end flex flex-column transition-ease-in-out transition-duration-500 align-items-center z-2 overflow-auto"
  [ngClass]="{
    'hidden': !layoutService.state.profileSidebarVisible && !layoutService.isMobile() || !layoutService.state.profileSidebarVisible && layoutService.isMobile(),
    'w-3': layoutService.state.profileSidebarVisible && !layoutService.isMobile(),
    'w-12': layoutService.state.profileSidebarVisible && layoutService.isMobile()
  }"
>
  <div
    class="w-full px-3 py-2 flex justify-content-between align-items-center mt-4"
  >
    <div class="flex gap-2 align-items-center">
      <p-button
        severity="secondary"
        icon="pi pi-user-plus text-900 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem"
        (onClick)="copyUuid()"
      />
      <p-button
        severity="secondary"
        icon="pi pi-bell text-900 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem"
      />
      <p-button
        severity="secondary"
        icon="pi pi-cog text-900 text-lg"
        [text]="true"
        styleClass="h-2rem w-2rem"
      />
    </div>
    <div
      (click)="layoutService.state.profileSidebarVisible=false"
      class="w-3rem cursor-pointer h-3rem bg-primary opacity-80 border-round-lg align-items-center flex justify-content-center"
    >
      <i class="pi pi-user text-2xl text-white"></i>
    </div>
  </div>
  <div class="w-full flex flex-column gap-3 px-3 mt-2">
    <div class="font-bold text-xl">
      <i class="pi pi-wallet mr-2 text-xl font-semibold"></i>Tu balance
    </div>
    <div
      class="relative w-full border-round-xl justify-content-between align-items-center overflow-hidden bg-primary h-8rem flex gap-2 px-4"
    >
      <div
        class="flex flex-column border-round-xl white-space-nowrap gap-2 z-2 p-3 h-5rem font-medium bg-white"
        style="min-width: 10rem;"
      >
        <div class="text-xs text-900">Balance</div>
        <div class="text-xl text-900">{{ '$ ' + user?.wallet?.balance}}</div>
      </div>
      <div class="flex flex-column gap-2">
        <p-button
          styleClass="h-2rem w-2rem bg-white border-white"
          severity="contrast"
          [outlined]="true"
          icon="pi  pi-upload"
        />
        <p-button
          styleClass="h-2rem w-2rem bg-white border-white"
          severity="contrast"
          icon="pi text-900 pi-download"
        />
      </div>
      <div
        style="margin-bottom: -6rem;"
        class="absolute bottom-0 left-0 w-10rem h-10rem bg-green-300 opacity-30 border-circle"
      ></div>
      <div
        style="margin-left: -6rem;"
        class="absolute bottom-0 left-0 w-10rem h-10rem bg-orange-500 opacity-30 border-circle"
      ></div>
    </div>
  </div>
  <div class="flex flex-column my-3 w-full px-3">
    <div class="font-bold">Tareas recientes:</div>
    @if (orderPendding) {
    <div
      class="w-full flex gap-3 align-items-center mt-1 p-2 border-round-lg cursor-pointer hover:surface-100"
      (click)="redirectOrder()"
    >
      <i class="pi pi-circle text-3xl text-400"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">
          {{ orderPendding.name + ' - codigo: ' + orderPendding.id_order }}
        </div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">
            {{ orderPendding.state!.name}}
          </div>
          <div class="text-xs font-semibold">
            +<span class="text-primary">$</span>{{ orderPendding.commission }}
          </div>
        </div>
      </div>
    </div>
    } @if (orderInProcess) {
    <div
      class="w-full flex gap-3 align-items-center mt-1 p-2 border-round-lg cursor-pointer hover:surface-100"
      (click)="redirectOrder()"
    >
      <i class="pi pi-spin pi-spinner text-3xl text-primary"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">
          {{ orderInProcess.name + ' - codigo: ' + orderInProcess.id_order }}
        </div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">
            {{ orderInProcess.state!.name}}
          </div>
          <div class="text-xs font-semibold">
            +<span class="text-primary">$</span>{{ orderInProcess.commission }}
          </div>
        </div>
      </div>
    </div>
    } @if (lastOrderComplete) {
    <div
      class="w-full flex gap-3 align-items-center mt-1 p-2 border-round-lg cursor-pointer hover:surface-100"
      (click)="redirectOrder()"
    >
      <i class="pi pi-check-circle text-3xl text-primary"></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        <div class="text-xxs">
          {{ lastOrderComplete.name + ' - codigo: ' + lastOrderComplete.id_order
          }}
        </div>
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">
            {{ lastOrderComplete.state!.name}}
          </div>
          <div class="text-xs font-semibold">
            +<span class="text-primary">$</span>{{ lastOrderComplete.commission
            }}
          </div>
        </div>
      </div>
    </div>
    }
    <!-- <div
      class="w-full flex gap-3 align-items-center mt-1 p-2 border-round-lg"
      [ngClass]="!task.is_completed ? 'cursor-pointer hover:surface-100':''"
    >
      <i
        [class]="task.is_completed ? 'pi pi-check-circle text-3xl text-primary':'pi pi-circle text-3xl text-400'"
      ></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        @if (task.type_task[0] === 'Monetaria') {
        <div class="text-xxs">
          {{ task.name + ' - codigo: ' + task.orderId }}
        </div>
        }@else {
        <div class="text-xxs">{{ task.name }}</div>
        }
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">
            {{ task.is_completed ? 'Completado':'En Proceso'}}
          </div>
          <div class="text-xs font-semibold">
            +<span class="text-primary">$</span>{{ task.credit }}
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div
      class="w-full flex gap-3 align-items-center mt-1 p-2 border-round-lg"
      [ngClass]="!task.is_completed ? 'cursor-pointer hover:surface-100':''"
    >
      <i
        [class]="task.is_completed ? 'pi pi-check-circle text-3xl text-primary':'pi pi-circle text-3xl text-400'"
      ></i>
      <div class="flex w-full flex-column gap-1 pr-2">
        @if (task.type_task[0] === 'Monetaria') {
        <div class="text-xxs">
          {{ task.name + ' - codigo: ' + task.orderId }}
        </div>
        }@else {
        <div class="text-xxs">{{ task.name }}</div>
        }
        <div class="flex w-full justify-content-between gap-2">
          <div class="text-xxs text-500">
            {{ task.is_completed ? 'Completado':'En Proceso'}}
          </div>
          <div class="text-xs font-semibold">
            +<span class="text-primary">$</span>{{ task.credit }}
          </div>
        </div>
      </div>
    </div> -->

    <p-divider />
    <div class="font-bold flex justify-content-between w-full">
      <span>{{ user?.phase?.name + '-' + user?.phase?.level}}</span>
      <span class="text-sm font-medium"
        ><span class="text-primary">{{ordersCompleteCount}}</span
        >/{{user?.phase?.task_number}}</span
      >
    </div>
  </div>
  <div class="px-3 w-full flex flex-column gap-3 mt-3">
    <p-button
      [outlined]="true"
      icon="pi pi-ticket"
      styleClass="w-full text-sm"
      label="¿Tienes un cupón?"
    />
    <p-button styleClass="w-full text-sm" label="Cerrar sesión" />
  </div>
</div>
<p-toast position="top-center"></p-toast>
<p-confirmDialog styleClass="w-auto md:w-5" position="bottom"></p-confirmDialog>
