<div
  style="height: 3.5rem;"
  class="flex w-full justify-content-around bg-white shadow-4 px-3 py-2"
>
  <div class="flex flex-column align-items-center">
    <p-button styleClass="w-3rem h-2rem border-round-2xl" icon="pi pi-home" />
    <div class="text-primary text-xs">Home</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-button
      styleClass="w-3rem h-2rem border-round-2xl"
      [text]="true"
      icon="pi pi-megaphone text-700"
    />
    <div class="text-700 text-xs">Ordenes</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-button
      styleClass="w-3rem h-2rem border-round-2xl"
      [text]="true"
      icon="pi pi-list-check text-700"
    />
    <div class="text-700 text-xs">Tareas</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-button
      styleClass="w-3rem h-2rem border-round-2xl"
      [text]="true"
      icon="pi pi-headphones  text-700"
    />
    <div class="text-700 text-xs">Soporte</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-button
      styleClass="w-3rem h-2rem border-round-2xl"
      [text]="true"
      icon="pi pi-sign-in text-700"
    />
    <div class="text-700 text-xs">Log in</div>
  </div>
</div>
